<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
    }
    td, th {
      text-align: left;
      padding: 4px;
    }
    </style>
  <body style="font-family: sans-serif;">
    <!-- HEADER -->
    <div style="width: 100%; display: flex;">
      <div style="text-align: left; width: 100%;">
        <h4 style="margin-bottom: 1px;">KUDOS TRUCKING CORPORATION</h4>
        <small>#15 KM9 OLD AIRPORT, DAVAO CITY</small><br>
        <div style="font-size: 14px; margin-top: 10px; margin-bottom: 3px;"><b>Container Inventory</b></div>
        <div style="font-size: 14px; margin-left: 40px; margin-bottom: 3px; display: flex; justify-content: space-between;">
          <span>to</span>
          <span>Printed Record: <b style="font-size: 16px;">ALL</b></span>
        </div>
        <div style="font-size: 14px; display: flex; justify-content: space-between;">
          <b>CLIENT NAME</b>
          <span>Print Date: 01/22/22</span>
        </div>
        <table style="margin-top: 20px">
          <tr style="border-top: 2px solid; border-bottom: 2px solid">
            <th scope="col">Container No.</th>
            <th scope="col">Size</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Date In</th>
            <th scope="col">Date Out</th>
            <th scope="col">Days</th>
          </tr>
          <tr>
            <td>BSKD-JVBJSD-V</td>
            <td>10</td>
            <td>T1</td>
            <td>EMPTY</td>
            <td>2022-01-22</td>
            <td>2022-01-23</td>
            <td>1</td>
          </tr>
        </table>
        <div style="border-top: 2px solid; display: flex; font-size: 14px; font-weight: 700; padding-top: 10px">
          <div>Container Count</div>
          <div style="margin-left: 40px;">22</div>
        </div>
      </div>
    </div>
    <!-- END OF HEADER -->
  </body>
</html>