.form-group {
    margin-top: 10px !important;
}

@media screen and (max-width: 992px) {
  .form-group {
    margin-top: 20px !important;
   }
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  transition: all 100ms;
  font-size: 75%;
  font-weight: bold;
  padding: 7px 0 0 0px;
  transform: translate3d(0, -70%, 0);
  opacity: 1;
  background-color: white;
}
.form-control, span.select2-selection.select2-selection--single {
    height: 45px !important;
}

input.form-control {
    height: 37px !important;
}

span.select2.select2-container.select2-container--default.select2-container--below, span.select2.select2-container.select2-container--default {
    display: block;
    z-index: 0;
}

span#select2--container, span.select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: flex !important;
    align-items: center !important;
    margin-top: 5px;
}

span.select2-selection.select2-selection--single {
    display: flex !important;
    align-items: center !important;
}

.select2-selection {
    display: flex;
}

.vs--searchable .vs__dropdown-toggle {
    height: 37px !important;
    padding: 0 !important;
}

.v-select {
    padding: 0 !important;
    border: 0px;
}

.vs__dropdown-toggle {
    border: 1px solid #e4eaec !important;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

table {
    border: 2px solid #c8c8c8 !important;
    border-collapse: collapse !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
}