.form-group {
    margin-top: 10px !important;
    position: relative !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

@media screen and (max-width: 992px) {
  .form-group {
    margin-top: 20px !important;
   }
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  transition: all 100ms;
  font-size: 75%;
  font-weight: bold;
  padding: 7px 0 0 0px;
  transform: translate3d(0, -70%, 0);
  opacity: 1;
  background-color: white;
}
.form-control, span.select2-selection.select2-selection--single {
    height: 45px !important;
}

input.form-control {
    height: 37px !important;
    color: black;
}

span.select2.select2-container.select2-container--default.select2-container--below, span.select2.select2-container.select2-container--default {
    display: block;
    z-index: 0;
}

span#select2--container, span.select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: flex !important;
    align-items: center !important;
    margin-top: 5px;
}

span.select2-selection.select2-selection--single {
    display: flex !important;
    align-items: center !important;
}

.select2-selection {
    display: flex;
}

.vs--searchable .vs__dropdown-toggle {
    height: 37px !important;
    padding: 0 !important;
}

.v-select {
    padding: 0 !important;
    border: 0px;
}

.vs__dropdown-toggle {
    border: 1px solid #e4eaec !important;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

table {
    border: 2px solid #c8c8c8 !important;
    border-collapse: collapse !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
}

.isError {
    border: 1px solid red !important;
}

.customErrorText {
    color: red;
    position: absolute;
}

.customHintText {
    position: absolute;
}

.wrapper-custom {
    position: relative;
    width: 400px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 4px solid #e5e7eb;
    border-radius: .5rem;
}
.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:400px;
    height:200px;
}
.panel-bordered>.panel-body {
    overflow: unset !important;
}
.buttonload {
  padding: 5px 24px; /* Some padding */
}
.image-container {
    height: 200px;
    background-position: center !important;
    background-size: cover !important;
}
.view {
    margin-left: 5px !important;
}

.remove-image {
  display: none;
  position: absolute;
  top: -10px;
  right: 0px;
  cursor: pointer;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
  right: 0px;
}
.remove-image:active {
 background: #E54E4E;
  top: -10px;
  right: 0px;
}
/*.table>tbody>tr>td {
  border-color: #b1b1b1 !important;
}*/
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 14px;
  background: #22a7f0;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 4px;
    height: 30px;
  }
  50%, 100% {
    top: 12px;
    height: 15px;
  }
}

#search-input{
  position:relative;
  left:8px;
}

.containers_ {
  /*inline-size: fit-content;*/
  display: grid;
  justify-items: end;
  box-shadow: 0px 2px 10px 0px #00000017;
  border-radius: 5px;
  padding: 1%;
  background-color: white;
}

.card_ {
  box-shadow: 0px 2px 10px 0px #00000017;
  border-radius: 5px;
  padding: 1%;
  background-color: white;
}

.paginator_ {
  height: fit-content;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

th {
  border-color: #eaeaea;
  background: #f8fafc;
  color: #337ab7;
}

.container-info > div {
  display: flex;
  justify-content: space-between;
}

.container-info > div:nth-child(even) {background: #e5e5e5}
.container-info > div:nth-child(odd) {background: #FFF}

.viewItemOnClick {
  cursor: pointer;
}
